<h1>Shopping cart</h1>

<form action="/checkout" method="post">
    <h2><label for="user_item">Enter your item here:</label></h2>
    <p>Item: <input type="text" name="item"></p>
    <p><button type="submit" value="submit">Submit</button></p>
</form> 

